.Container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  background-color: white
}

.Logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50vh;
  filter: invert(100%);
}

.Text {
  font-size: 400%;
  font-family: hovel;
  color: white;
  animation-name: FilterAnimation;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  opacity: 1;
}

.Text2 {
  font-size: 200%;
  font-family: hovel;
  color: white;
  animation-name: FilterAnimation2;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  opacity: 1;
}

@keyframes FilterAnimation {
  0% {
    filter: blur(20px);
    opacity: 0;
  }

  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes FilterAnimation2 {
  0% {
    opacity: 0;
  }

  50% {
    filter: blur(20px);
    opacity: 0;
  }

  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@font-face{
  font-family: "hovel";
  src: url("hovel.ttf");
}